*.bak
*.swp
transcript
work/
vsim.wlf
*.swo
*.qsf
*.qpf
*.qws
db/
incremental_db/
output_files/
simulation/

*.rpt
vunit_out/
schematic/race_4_players/fp-info-cache
.qsys_edit/
*.swn
LEDs-racer_assignment_defaults.qdf
