[submodule "src/button-debouncer"]
	path = src/button-debouncer
	url = git@github.com:KerCrafter/button-debouncer.git
[submodule "src/WS2812B-driver"]
	path = src/WS2812B-driver
	url = git@github.com:KerCrafter/WS2812B-driver.git
[submodule "src/pipe-pulse-generator"]
	path = src/pipe-pulse-generator
	url = git@github.com:KerCrafter/pipe-pulse-generator.git
[submodule "timer"]
	path = src/timer
	url = git@github.com:KerCrafter/timer.git
[submodule "src/timer"]
	path = src/timer
	url = git@github.com:KerCrafter/timer.git
[submodule "tests/vunit-runner"]
	path = tests/vunit-runner
	url = git@github.com:KerCrafter/vunit-runner.git
